html,
* {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.title-row {
  margin-top: 3em;
}
.post-date {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}
.date {
  font-family: "Newsreader", serif !important;
  font-weight: 300;
  font-style: italic;
}
.subtitle-row {
  padding-bottom: 10px;
  border-bottom: 1px dotted lightgray;
  margin-bottom: 10px;
  color: gray;
}
.timestamp-row {
  color: lightgray;
  display: flex;
  text-align: end;
}
